# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem
npm-debug.log*
.pnpm-debug.log*

# env
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# firebase
.firebase/
firebase-debug.log
serviceAccount*.json
